<footer class="footer">
    <div>
        ©VeryCEO All rights reserved.
    </div>
</footer>
<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="/lib/jquery.easydropdown.min.js"></script>
<script src="/lib/jquery.timepicker.min.js"></script>
<script src="/lib/bootstrap.datepicker.js"></script>
<script src="/lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script>
    + function ($) {
        $.initarea = [];
    }(jQuery);
</script>
<script src="/style/js/inputs.js"></script>
<script src="/style/js/modal.js"></script>
<script src="/style/js/ajax.js"></script>
<script src="/style/js/action.js"></script>
<script src="/style/js/site.js"></script>
<script src="/style/js/utility.js"></script>
<script src="/style/js/list.js"></script>