<div id="floatmain_1" class="floatmain">
    <table class="floatboxs">
    <tr>
        <td>&nbsp;</td>
        <td valign="middle">
            <div id="descr_box" style="background:#FFF; overflow:hidden;overflow-y:auto; padding:15px; text-align:left; border:1px solid #ccc;">
                <div id="descr_box_bcon" style="line-height:25px; font-size:14px; font-family:'微软雅黑';margin:5px 0;min-width:300px;"></div>
                <div style="text-align:center;"><a href="javascript:;" id="close_con_box" style="display:inline-block; margin:0 auto; margin-bottom:0px; text-decoration:none; font-size:14px; font-weight:bold; color:#fff; padding:0 20px; line-height:25px; background:#026FBD; font-family:'微软雅黑';">确 定</a></div>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
    </table>
</div>

<div id="floatmain_2" class="floatmain">
    <table class="floatboxs">
    <tr>
        <td>&nbsp;</td>
        <td valign="middle">
            <div id="descr_box_2" style="background:#FFF; overflow:hidden;overflow-y:auto; padding:20px 50px; text-align:center; border:1px solid #ccc;">
                <div id="descr_box_bcon_2" style="line-height:25px; font-size:14px; font-family:'微软雅黑';margin:5px 0;min-width:300px;">
                </div>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
    </table>
</div>