<link href="/style/reset.css" type="text/css" rel="stylesheet" media="all">
<link href="/style/base.css" type="text/css" rel="stylesheet" media="all">
<link href="/style/jquery.timepicker.css" type="text/css" rel="stylesheet" media="all" />
<link href="/style/boostrap.datepicker.css" type="text/css" rel="stylesheet" media="all" />
<link href="/style/easydropdown-alert.css" type="text/css" rel="stylesheet" media="all" />
<link href="/style/bootstrap-slider.css" type="text/css" rel="stylesheet" media="all" />
<link href="/style/common.css" type="text/css" rel="stylesheet" media="all" />
<script src="/lib/jquery/dist/jquery.min.js"></script>
</head>