{#include file='../front/public.header.html'#}
<div id="user-basic">
    <div class="return" onclick="javascript:history.go(-1);"><i></i></div>
    <h1>编辑绑定银行卡<span style="float: right" onclick="delbank({#$bankinfo.id#})"><img src="/style/img_two/delete.png" width="22" height="22" /></span></h1>

</div>
<form action="" method="post" id="shopForm">
    <div class="addshop">
        <ul>
            <li><span><i>*</i>账号：</span><div><input type="tel" value="{#$bankinfo.carenum#}" name="number" id="number" onblur="getbankname();"></div></li>
            <li><span><i>*</i>开户行：</span><div><input type="text" value="{#$bankinfo.openbank#}" name="openbank" id="openbank" placeholder="如：嘉善支行"></div></li>
            <li><span><i>*</i>银行名称：</span><div><input type="text" value="{#$bankinfo.bankname#}" name="bankname" id="bankname" readonly="readonly"></div></li>
            <li><span><i>*</i>姓名、名称：</span><div><input type="text" name="username" id="username" value="{#$bankinfo.name#}" placeholder="与持卡人姓名一致"></div></li>
        </ul>
    </div>
    <div class="submitbtn"><button type="button" onclick="editbank()">修 改</button></div>
</form>
<input type="hidden" name="bankid" id="bankid" value="{#$bankinfo.id#}">
<script src="/style/js/jquery/jquery.min.js"></script>
<script type="text/javascript">
    function getbankname(){//根据卡号获取所属银行
        var number = $('#number').val();
      　 if(number == "") {
        　　  alert("请先填写银行卡号");
            return false;
        }
        if(number.length < 16 || number.length > 19) {
            alert("银行卡号长度必须在16到19之间");
            return false;
        }
        var num = /^\d*$/; //全数字
        if(!num.exec(number)) {
            alert("银行卡号必须全为数字");
            return false;
        }
        //开头6位
        var strBin = "10,18,30,35,37,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,58,60,62,65,68,69,84,87,88,94,95,98,99";
        if(strBin.indexOf(number.substring(0, 2)) == -1) {
            alert("银行卡号开头6位不符合规范");
            return false;
        }

        $.ajax({
            type:'POST',
            url:'/index.php?a=getbankname&c=bank',
            data:{number:number},
            datatype:'json',
            success:function(o){
                if(o.isok == 'true'){
                    $('#bankname').val(o.info);
                }else{
                    alert(o.info);
                }
            }
        });
    }
    function editbank(){//编辑绑定银行卡
        var username = $('#username').val();
        var bankname = $('#bankname').val();
        var number = $('#number').val();
        var openbank = $('#openbank').val();
        var id = $('#bankid').val();
        var act = 'edit';
        if(!openbank){
            alert('开户行不能为空！');
            return false;
        }
        if(!username){
            alert('请填写您的真实姓名或企业名称！');
            return false;
        }
        $.ajax({
            type:'POST',
            url:'/index.php?a=editbank&c=bank&id='+id,
            data:{number:number,username:username,bankname:bankname,openbank:openbank,act:act},
            datatype:'json',
            success:function(o){
                if(o.isok == 'true'){
                    alert(o.info);
                    setTimeout(window.history.go(-1),2000);
                }else{
                    alert(o.info);
                    setTimeout(window.history.go(-1),2000);
                }
            }
        });
    }
    function delbank(id){//删除绑定银行卡
        if(confirm('您确认要删除此项绑定？')){
            $.ajax({
            type:'GET',
            url:'/index.php?a=delbank&c=bank&id='+id,
            datatype:'json',
            success:function(o){
                if(o.isok == 'true'){
                    alert(o.info);
                    setTimeout(window.history.go(-1),2000);
                }else{
                    alert(o.info);
                    setTimeout(window.history.go(-1),2000);
                }
            }
        });
        }
    }
</script>
{#include file='../front/public.footer.html'#}