{#include file='public.header.html'#}
<style type="text/css">
    .showImage{
        float: left;
        right: 2px;
        bottom: 2px;
        display: block;
        position: absolute;
        background: url(../style/images/icon_reward.png) no-repeat;
        width: 30px;
        height: 30px;
    }
</style>
<div id="user-basic">
    <div class="return" data-href="/"><i></i></div>
    <h1>有赏店铺</h1>
</div>

<div id="list">

</div>
<div id="allmap"></div>
<div class="div_null hide"></div>
<script src="/style/js/jquery/jquery.min.js"></script>
<script src="/style/js/template.js"></script>
{#if $store#}
<script src="/style/js/ajaxlist_s.js"></script>
<script type="text/javascript">
    $(function(){
        var url=window.location.href;
        $('#list').ajaxshiolist(url);
    })
</script>
{#else#}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=g4GIGbi1Ca4AvOummygB6djDIo5DUPrV"></script>
<script type="text/javascript">
    $(function(){
        var url=window.location.href;
        $('#list').ajaxshiolist(url);
    })
    /*$(function(){
        // 百度地图API功能
        var map = new BMap.Map("allmap");
        var point = new BMap.Point(120.93588079,30.850623);
        map.centerAndZoom(point,12);

        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                var mk = new BMap.Marker(r.point);
                map.addOverlay(mk);
                map.panTo(r.point);
                var lng = r.point.lng;
                var lat = r.point.lat;
                var url=window.location.href;
                url = url+'&lat='+lat+'&lng='+lng;
                $('#list').ajaxshiolist(url);
                //alert('您的位置：'+r.point.lng+','+r.point.lat);
            }
            else {
                //alert('failed'+this.getStatus());
            }        
        },{enableHighAccuracy: true})
    })*/
    $.fn.ajaxshiolist = function(url) {
    var PageSize = 15, p = 1;
    //$(window).scroll(scrollHandler);//执行滚动
    ajaxlist(1, url);//默认加载一页
    function ajaxlist(p, url) {
        $('#showLoading').show();
        var act = 'list';
        $.ajax({
            type: "get",
            url: url,
            data: {PageSize: PageSize, p: p, act: act},
            dataType: "json",
            //cache:false,
            success: function (o) {
                $('#showLoading').hide();
                if(o.isok == 'true') {
                    insertListDiv(o);
                }else{
                    $('.div_null').html(o.data).removeClass('hide');
                }
            },
            beforeSend: function () {
            },
            error: function () {
                $('#showLoading').hide();
            }
        });
    }
}

function insertListDiv(json){
    var html = template('demo', json);
    $('#list').append(html);
    $('[data-href]').on('click',function(e){
        var url=$(this).attr('data-href');
        loadurl(url);//加载跳转链接
        return false;
    });
}
</script>
{#/if#}
<script id="demo" type="text/html">
    {{each list as value i}}
    <div class="nearby" data-href="index.php?a=mylist&c=shop&id={{value.id}}">
        <div class="pic_img" style="position: absolute; "><img src="/{{value.small}}">
            {{if value.icon_shang}}
            <span class="showImage"></span>
            {{/if}}
        </div>
        <div class="nearby_con">
            <div class="title">{{value.name}}</div>
            <div class="brief">{{value.brief}}</div>
            <div class="address"><span class="strong"><i></i>约 {{value.distance}}</span><span>{{value.roadfullname}}</span></div>
        </div>
    </div>
    {{/each}}
</script>
<br/>
<br/>
{#include file='public.footer.html'#}