<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    // 注意：所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
    // 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
    // 完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
    wx.config({
          appId: '{#$signPackage.appId#}',
            timestamp: {#$signPackage.timestamp#},
        nonceStr: '{#$signPackage.nonceStr#}',
        signature: '{#$signPackage.signature#}',




        jsApiList: [
            // 所有要调用的 API 都要加到这个列
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'onMenuShareWeibo'
        ]
    });




    wx.ready(function () {
        // 在这里调用 API

        wx.checkJsApi({
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo',
                'onMenuShareWeibo'
            ],
            success: function (res) {
                // alert(JSON.stringify(res));
                // alert(JSON.stringify(res.checkResult.getLocation));
                if (res.checkResult.getLocation == false) {
                    alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
                    return;
                }
            }
        });

        wx.onMenuShareTimeline({
            title: '{$goods_info.goods_name}', // 分享标题
            link: 'http://www.yqfarm.com/mobile/goods.php?id={$goods_info.goods_id}', // 分享链接
            imgUrl: 'http://www.yqfarm.com/{$pictures[0].img_url}', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });



        wx.onMenuShareAppMessage({
            title: "{$goods_info.goods_name} ￥{$goods_info.shop_price}", // 分享标题
            desc: '请点击查看{$goods_info.goods_name}详情', // 分享描述
            link: 'http://www.yqfarm.com/mobile/goods.php?id={$goods_info.goods_id}', // 分享链接
            imgUrl: 'http://www.yqfarm.com/{$pictures[0].img_url}', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQQ({
            title: '{$goods_info.goods_name}', // 分享标题
            desc: '请点击查看{$goods_info.goods_name}详情', // 分享描述
            link: 'http://www.yqfarm.com/mobile/goods.php?id={$goods_info.goods_id}', // 分享链接
            imgUrl: 'http://www.yqfarm.com/{$pictures[0].img_url}', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title: '{$goods_info.goods_name}', // 分享标题
            desc: '请点击查看{$goods_info.goods_name}详情', // 分享描述
            link: 'http://www.yqfarm.com/mobile/goods.php?id={$goods_info.goods_id}', // 分享链接
            imgUrl: 'http://www.yqfarm.com/{$pictures[0].img_url}', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQZone({
            title: '{$goods_info.goods_name}', // 分享标题
            desc: '请点击查看{$goods_info.goods_name}详情', // 分享描述
            link: 'http://www.yqfarm.com/mobile/goods.php?id={$goods_info.goods_id}', // 分享链接
            imgUrl: 'http://www.yqfarm.com/{$pictures[0].img_url}', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });


    });
</script>