<!--底部导航 start-->
<div class="f_nav w pf brt bw clearfloat" id="public_foot">
     <a class="nav_home fl f12 cb tc w25" href="/index.php?a=index&c=index" data-a="index" data-c="index">首页</a>
    <!--<a class="nav_shop fl f12 cb tc" href="javascript:void(0);"  onclick="publicfoot(2)" data-index="2">商城</a>-->
    <!--<a class="nav_shoppingcart fl f12 cg w20 tc" href="javascript:void(0);">购物车</a>-->
    <a class="nav_info fl f12 cb tc w25" href="/index.php?a=infonew&c=local"  data-a="infonew" data-c="local">本地信息</a>
    <a class="nav_near fl f12 cb tc w25" href="/index.php?a=shop&c=list"  data-a="shop" data-c="list">附近商家</a>
    <a class="nav_mine fl f12 cb tc w25" href="../index.php?a=index&c=ucenter"  data-a="index" data-c="ucenter">我的</a>
</div>
</body>
</html>

<script>
    $("#public_foot .fl").click(function(){
        $('#public_foot .fl').each(function(){
            $('#public_foot .fl').remove('active');
        })
        $(this).addClass('active');
    });
</script>
{#if $signPackage#}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    // 注意：所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
    // 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
    // 完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
    wx.config({
        appId: '{#$signPackage.appId#}',
        timestamp: '{#$signPackage.timestamp#}',
        nonceStr: '{#$signPackage.nonceStr#}',
        signature: '{#$signPackage.signature#}',
        jsApiList: [
        // 所有要调用的 API 都要加到这个列
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'onMenuShareWeibo'
    ]
    });


    

    wx.ready(function () {
        // 在这里调用 API

        wx.checkJsApi({
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo',
                'onMenuShareWeibo'
            ],
            success: function (res) {
                // alert(JSON.stringify(res));
                // alert(JSON.stringify(res.checkResult.getLocation));
                if (res.checkResult.getLocation == false) {
                    alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
                    return;
                }
            }
        });
        var s_id = $('#s_id').val();
        var userid = $('#userid').val();
        wx.onMenuShareTimeline({//微信朋友圈
            title: '{#$signPackage.share_title#}', // 分享标题
            link:  '{#$signPackage.share_link#}', // 分享链接
            imgUrl: '{#$signPackage.share_imgUrl#}', // 分享图标
            success: function () {
                if(s_id && userid){
                   var types = 'quan';
                    $.ajax({
                        type:'post',
                        url:'index.php?a=sharingmoney&c=shop',
                        data:{s_id:s_id,types:types},
                        dataType:'JSON',
                        success:function(o){
                            if(o.isok == 'true'){
                                Message.showMessage(o.info);
                            }else{
                                Message.showMessage('分享成功');
                            }
                        }
                    }); 
                }
                
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });



        wx.onMenuShareAppMessage({//微信朋友、群
            title: '{#$signPackage.share_title#}', // 分享标题
            desc: '{#$signPackage.share_desc#}', // 分享描述
            link: '{#$signPackage.share_link#}', // 分享链接
            imgUrl: '{#$signPackage.share_imgUrl#}', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                if(s_id && userid){
                    var types = 'hao';
                    $.ajax({
                        type:'post',
                        url:'index.php?a=sharingmoney&c=shop',
                        data:{s_id:s_id,types:types},
                        dataType:'JSON',
                        success:function(o){
                            if(o.isok == 'true'){
                                Message.showMessage(o.info);
                            }else{
                                Message.showMessage('分享成功');
                            }
                        }
                    });
                }
                
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQQ({
            title: '{#$signPackage.share_title#}', // 分享标题
            desc:'{#$signPackage.share_desc#}', // 分享描述
            link: '{#$signPackage.share_link#}', // 分享链接
            imgUrl: '{#$signPackage.share_imgUrl#}', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                if(s_id && userid){
                    var types = 'hao';
                    $.ajax({
                        type:'post',
                        url:'index.php?a=sharingmoney&c=shop',
                        data:{s_id:s_id,types:types},
                        dataType:'JSON',
                        success:function(o){
                            if(o.isok == 'true'){
                                Message.showMessage(o.info);
                            }else{
                                Message.showMessage('分享成功');
                            }
                        }
                    });
                }
                
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareWeibo({
            title:'{#$signPackage.share_title#}', // 分享标题
            desc: '{#$signPackage.share_desc#}', // 分享描述
            link: '{#$signPackage.share_link#}', // 分享链接
            imgUrl: '{#$signPackage.share_imgUrl#}', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareQZone({

            title: '{#$signPackage.share_title#}', // 分享标题
            desc: '{#$signPackage.share_desc#}', // 分享描述
            link: '{#$signPackage.share_link#}', // 分享链接
            imgUrl: '{#$signPackage.share_imgUrl#}', // 分享图标
            success: function () {
                if(s_id && userid){
                    var types = 'quan';
                    $.ajax({
                        type:'post',
                        url:'index.php?a=sharingmoney&c=shop',
                        data:{s_id:s_id,types:types},
                        dataType:'JSON',
                        success:function(o){
                            if(o.isok == 'true'){
                                Message.showMessage(o.info);
                            }else{
                                Message.showMessage('分享成功');
                            }
                        }
                    }); 
                }
                
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });


    });
</script>
{#/if#}

</body>
</html>
