<style type="text/css">
	.nav_shoppingcart{position: relative;}
	.spannum{color: #fff; font-style: normal; position: absolute; top: 0px; left: 60px; padding: 1px 2px; font-size: 12px;border-radius: 7px 7px 7px 0;width: 12px; height: 12px; line-height: 12px; background: #c81623; text-align: center;}
</style>
<div class="f_nav w pf brt bw clearfloat" id="public_foot">
     <a class="nav_home fl f12 cb tc w25" href="/index.php?a=index&c=index" data-a="index" data-c="index">首页</a>
    <a class="nav_shop fl f12 cb tc w25" href="javascript:void(0);"  onclick="publicfoot(2)" data-index="2">商城</a>
    <a class="nav_shoppingcart fl f12 cg w25 tc" href="/index.php?a=cart&c=shoppingmall">购物车<span class="spannum">{#$cartNum#}</span></a>
    <a class="nav_mine fl f12 cb tc w25" href="../index.php?a=index&c=ucenter"  data-a="index" data-c="ucenter">我的</a>
</div>
    