<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>活动审核</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/main.js?v=1.0"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"})});
    </script>
    {#$editorjs#}
    {#$editorjstxt#}
</head>
<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h3>活动管理</h3><ol class="breadcrumb"><li>当前位置</li><li>活动管理</li><li> <strong>活动审核</strong></li></ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <p class="m-t-sm" id="goods_tabs">
        <span class="btn btn-primary">基本信息</span>
        <span class="btn btn-danger">活动详情</span>
        <span class="btn btn-danger">活动图片</span>
        <a href="index.php?a=more&c=activity" class="btn btn-danger">返回上一步</a></p>

    <div id="goods_main">
        <div class="goods_tab">
            <div class="float-e-margins">
                <div class="ibox-title"><b>基本信息</b></div>
            </div>
            <div class="ibox-content  ">
                <div class="table-responsive">
                    <table class="table table-hover m-b-none">
                        <tr>
                            <td width="120">活动类型</td>
                            <td>{#if $demand.type eq 1#}商家个人{#elseif $demand.type  eq 1#}商家联合{#/if#}</td>
                        </tr>
                        <tr>
                            <td width="120">活动名称</td>
                            <td>{#$demand.name#}</td>
                        </tr>

                        <tr>
                            <td width="120">发布店铺</td>
                            <td>{#$demand.shop_name#}</td>
                        </tr>
                        <tr>
                            <td width="120">有效时间</td>
                            <td>{#$demand.start_date|date_format:"%Y-%m-%d"#}至{#$demand.end_date|date_format:"%Y-%m-%d"#}</td>
                        </tr>

                        <tr>
                            <td width="120">关键词</td>
                            <td>{#$demand.keywords#}</td>
                        </tr>
                        <tr>
                            <td width="120">添加时间</td>
                            <td>{#$demand.add_time|date_format:"%Y-%m-%d"#}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class=" goods_tab" style="display: none">
            <div class="float-e-margins">
                <div class="ibox-title"><b>活动详情</b></div>
            </div>
          <div class="ibox-content">
              <div class="table-responsive">
                  <table class="table table-hover m-b-none">
                      <tr>
                          <td width="120">活动描述</td>
                          <td width="300"><textarea class="form-control" style="height:100px">{#$demand.brief#}</textarea></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>详情</td>
                          <td colspan="2">{#$demand.desc#}</td>
                      </tr>
                      <tr>
                          <td>自定义表单</td>
                          <td colspan="2">
                              <div style="margin-top: 10px;">
                              <!--单行-->
                              <span style="line-height: 30px;font-weight:600;">单行</span><br/>
                              {#foreach from=$demand['form_desc']['desc'].txt item=item name=txt#}
                             <span style="margin-right: 10px;">{#$smarty.foreach.txt.iteration#}：</span> <span style="line-height: 25px;">{#$item.val#}</span><br/>
                              {#/foreach#}
                              </div>
                              <div style="margin-top: 20px;">
                              <!--多行-->
                              <span style="line-height: 30px;font-weight:600;">多行</span><br/>
                              {#foreach from=$demand['form_desc']['desc'].text item=item key=key name=text#}
                              <span style="margin-right: 10px;">{#$smarty.foreach.text.iteration#}：</span><span style="line-height: 25px;">{#$item.val#}</span><br/>
                              {#/foreach#}
                              </div>
                              <div style="margin-top: 20px;">
                              <!--单选-->
                              <span style="line-height: 30px;font-weight:600;">单选</span><br/>
                              {#foreach from=$demand['form_desc']['desc'].radioname item=item key=key  name=radioname#}
                              <span style="margin-right: 10px;">{#$smarty.foreach.radioname.iteration#}：</span>{#$item.val#}：
                              {#foreach from=$item.son  item=item_son key=key_son#}
                              <input class="f14 cb mt10" type="radio" name="radioname[{#$key#}]" value="{#$item_son.sub3#}"  name="radioname[{#$key_son#}]"  style="margin-left: 10px;"><span>{#$item_son.val#}</span>
                              {#/foreach#}
                              <br>
                              {#/foreach#}
                              </div>
                              <div style="margin-top: 20px;">
                              <!--多选-->
                              <span style="line-height: 30px;font-weight:600;">多选</span><br/>
                              {#foreach from=$demand['form_desc']['desc'].checkname  item=item key=key name=checkname#}
                              <span style="margin-right: 10px;">{#$smarty.foreach.checkname.iteration#}：</span>{#$item.val#}：
                              {#foreach from=$item.son  item=item_son key=key_son#}
                              <input class="f14 cb mt10" type="checkbox" name="checkname[{#$key_son#}]" value="{#$item_son.sub3#}"  style="margin-left: 10px;font-size: 20px;"><span>{#$item_son.val#}</span>
                              {#/foreach#}
                              <br>
                              {#/foreach#}
                              </div>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
        </div>
        <div class=" goods_tab"  style="display: none">
            <div class="float-e-margins">
                <div class="ibox-title"><b>活动封面</b></div>
            </div>
            <div class="ibox-content">
                <div class="row">

                    <div class="col-sm-3 col-md-3 col-lg-2 text-center">
                        <div class="img-thumbnail">
                            <img border="0" src="{#$demand.activity_thumb#}">
                            </div>
                        </div>

                </div>

            </div>
        </div>
        </div>
    <div class="float-e-margins m-t-sm">
        <div class="ibox-title"><b>活动审核</b>
        </div>
    </div>
    <form  method="post" action="" onsubmit="return checkpost(document.checkform);"  name="checkform" >
        <div class="ibox-content ">
            <div class="table-responsive">
                <table class="table table-hover m-b-none">
                    {#if $demand.is_sure eq 1#}
                    <tr>
                        <td width="120">上架/下架</td>
                        <td width="300"><label><input type="checkbox" value="0" name="buddhastatus" class="i-checks" {#if $demand.buddhastatus eq 0#}checked{#/if#}>上架</label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="120">设置活动为热门</td>
                        <td width="300"><label><input type="checkbox" value="1" name="is_hot" class="i-checks" {#if $demand.buddhastatus eq 1#}checked{#/if#}>是否设置为热门活动</label></td>
                        <td></td>
                    </tr>
                    {#/if#}
                    <tr>
                        <td width="120">审核</td>
                        <td width="300"><input type="radio" value="1" name="is_sure" class="i-checks" {#if $demand.is_sure eq 1#}checked{#/if#}>审核通过
                            <input type="radio" value="4" name="is_sure" class="i-checks" {#if $demand.is_sure eq 4 or $demand.is_sure eq 0#} checked{#/if#}>审核不通过</td>
                        <td></td>
                    </tr>
                    <tr id="remarks" {#if $demand.is_sure eq 1#} style="display: none"{#/if#}>
                        <td>备注</td>
                        <td><textarea name="remarks" id="remarksval" class="form-control" style="height: 100px;">{#$demand.remarks#}</textarea></td>
                        <td></td>
                    </tr>
                    </table>
                </div>
            </div>
       <div class="text-center m-t-sm"><button type="submit" class="btn btn-primary">审 核</button></div>
    </form>
    </div>
<script>
    $(function(){
        var main=$('#goods_main > .goods_tab');
        $('#goods_tabs span').bind('click', function() {
            var index=$(this).index();
            $(this).attr('class','btn btn-primary').siblings('span').attr('class','btn btn-danger');
            main.eq(index).show().siblings('.goods_tab').hide();
        });

    $('.iCheck-helper').click(function(){
        var is_sure=$(this).siblings('input[type="radio"]:checked ').val();
       if(is_sure!=4){
         $('#remarks').hide()
       }else {
           $('#remarks').show()
       }
    })
    });
function checkpost(){
   var is_sure=$('.iradio_square-green').find('input[type="radio"]:checked ').val(),
           remarksval=$('#remarksval').val();
    if(is_sure!=1){
      if(remarksval==''){
          alert('填写不通过原因！');
          return false;
      }
    }
}
</script>
</body>
</html>