<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>令牌管理</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/main.js?v=1.0"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green"})
        });
    </script>
</head>
<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h3>系统配置</h3>
        <ol class="breadcrumb">
            <li>当前位置</li>
            <li>系统配置</li>
            <li><strong>令牌列表</strong></li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <p><a href="index.php?a=add&c=apptoken" class="btn btn-primary">添加令牌</a></p>

    <div class="float-e-margins">
        <div class="ibox-title"><b>令牌列表</b>
        </div>
    </div>
    <form name="FORM" method="post" action="">
        <div class="ibox-content">
            <table class="table table-hover m-b-none">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>应该名称</td>
                    <td>应用值(appvalue)</td>
                    <td>密钥(key)</td>
                    <td>允许IP</td>
                    <td>统计</td>

                    <td width="*">操作</td>
                </tr>
                </thead>
                <tbody>
                {#foreach from=$list item=item#}
                <tr>
                    <td>{#$item.id#}</td>
                    <td>{#$item.appname#}</td>
                    <td>{#$item.appvalue#}</td>
                    <td>{#$item.key#}</td>
                    <td>{#$item.allowip#}</td>
                    <td>{#$item.static#}</td>

                    <td>
                        <a href="index.php?a=edit&c=apptoken&id={#$item.id#}&p={#$page#}" title="编辑">[编辑]</a>
                        <a href="index.php?a=del&c=apptoken&id={#$item.id#}&p={#$page#}"
                           onClick="return confirm('您确认要删除吗?');">[删除]</a>
                    </td>
                </tr>
                {#/foreach#}
                </tbody>
            </table>
        </div>


        <div class="text-center m-t-sm">
            {#$strPages#}
        </div>

        <div class="text-center m-t-sm">
            <span>选中操作：</span>
            <input type="radio" value="del" name="job" class="i-checks" checked>删除
        </div>
        <div class="text-center m-t-sm">
            <button type="submit" class="btn btn-primary">提 交</button>
        </div>
    </form>

</body>
</html>
