<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
<link href="css/plugins/iCheck/custom.css" rel="stylesheet">
<script src="js/jquery.js"></script> 
<script src="js/main.js?v=1.0"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>
$(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"})});
</script>
</head>
<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
<div class="col-sm-12">
<h3>会员管理</h3><ol class="breadcrumb"><li>当前位置</li><li>会员管理</li><li> <strong>短信营销</strong></li></ol>
</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<p class="m-t-sm" >
<a href="index.php?a=more&c=marketing" class="btn btn-primary">返回上一步</a>
</p>
<form method="post" action="" onsubmit="return checkpost(document.checkform);" name="checkform" enctype="multipart/form-data">

<!-- 基本信息 -->
<div class="float-e-margins">
<div class="ibox-title"><b>短信营销发送</b></div>
</div>
<div class="ibox-content">
<table class="table table-hover m-b-none">
<tbody>
<tr>
	<td width="120">会员姓名 </td>
	<td>{#$realnames#}</td>
</tr>
<tr>
	<td>手机号</td>
	<td>{#$emails#}</td>
</tr>
<tr>
	<td>短信内容 <span class="text-danger">*</span></td>
	<td>
	   <div class="form-control"  id="contentone" style="-webkit-user-modify: read-write-plaintext-only; padding:5px; min-height: 150px; overflow: auto"></div>
		<textarea name="content" style="display: none" id="content"></textarea>
	</td>
</tr>
</tbody>
</table>
</div>

	<input type="hidden" value="{#$ids#}" name="ids">
<div class="text-center m-t-sm">
	<input type="hidden" name="operotor" value="doedm"/>
<button type="submit" class="btn btn-primary">提 交</button>
</div>
</form>
</div>

<script>
function checkpost(obj){

if($('#content').val()==''){
alert("邮件内容不能为空!");
$("#contentone").focus();
return false;
}
}
	$(function(){
		$('#contentone').mouseleave(function(){
			var cont= $(this).html();
			$('#content').html(cont);
		})
	})
</script>
</body>
</html>
