<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>无敌软件管理</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/style.min.css" rel="stylesheet">
	<link href="css/plugins/iCheck/custom.css" rel="stylesheet">
	<script src="js/jquery.js"></script>
	<script src="js/main.js?v=1.0"></script>
	<script type="text/javascript" src="js/jquery.form.js"></script>
	<script src="js/plugins/iCheck/icheck.min.js"></script>
	<script>
		$(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"})});
	</script>
</head>
<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-12">
		<h3>无敌软件管理</h3><ol class="breadcrumb"><li>当前位置</li><li>无敌软件管理</li><li> <strong>超级店铺列表</strong></li></ol>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<p>
		{#foreach from=$searchType item=item key=key#}
		<a href="index.php?a=more&c=supershopconf&view={#$key#}" class="btn{#if $params.view eq $key#} btn-primary{#else#} btn-danger{#/if#}">{#$item#}</a>
		{#/foreach#}
	</p>
	<div class="panel panel-danger">
		<div class="panel-heading"><b>搜索</b></div>
		<form method="post" action="" class="form-inline">
			<div class="panel-body">
				<div class="form-group">
					<select id="option" name="view" class="form-control">
						{#foreach from=$searchType item=item key=key#}
						<option value="{#$key#}"  {#if $params.view eq $key#} selected{#/if#}>{#$item#}</option>
						{#/foreach#}
					</select>

				</div>
				<div class="form-group">
					<input type="text" value="{#$keyword#}" name="keyword" id="keyword" class="form-control" placeholder="请选择方式后输入搜索内容"></div>
				<button value="搜 索" type="submit" class="btn btn-danger" >搜 索</button>
			</div>
		</form>
	</div>
	<div class="float-e-margins">
		<div class="ibox-title"><b>超级店铺列表</b></div>
	</div>

	<form method="post" action="" onsubmit="return checkpost(document.checkform);"  name="FORM" >
		<div class="ibox-content">
			<div class="table-responsive">
				<table class="table table-hover m-b-none">
					<thead>
	<tr>
		<th><span onclick="CheckAll(document.FORM,'')">全选</span></th>
		<th>应用名</th>
		<th>公匙</th>
		<th>私匙</th>

		<th>店铺名</th>
		<th>姓名</th>
		<th>手机号</th>
		<th>开始时间</th>
		<th>结束时间</th>
		<th>操作</th>
	</tr>
</thead>
<tbody>
{#if $list|@count neq 0 #}
{#foreach from=$list item=item#}
	<tr>
		<td><input type="checkbox" value="{#$item.id#}" name="ids[{#$item.id#}]" class="i-checks"/></td>
		<td>{#$item.appname#}</td>
		<td>{#$item.appKey#}</td>
		<td>{#$item.appSecret#}</td>
		<td>{#$item.shop_name#}</td>
		<td>{#$item.user_realname#}</td>
		<td>{#$item.user_mobile#}</td>
		<td>{#$item.starttime|date_format:"%Y-%m-%d"#}</td>
		<td>{#$item.endtime|date_format:"%Y-%m-%d"#}</td>
		<td><a href="index.php?a=edit&c=supershopconf&id={#$item.id#}&p={#$page#}&view={#$view#}">[编辑]</a><a href="index.php?a=del&c=supershopconf&id={#$item.id#}&p={#$page#}&view={#$view#}">[删除]</a></td>
	</tr>
{#/foreach#}
{#else#}
<tr><td colspan="10">你所查询的数据不存在！<td></td>
{#/if#}
</tbody>
</table>
</div>
</div>
<div class="text-center m-t-sm">
	{#$strPages#}
</div>


		<div class="text-center m-t-sm"><span>选中操作：</span>
			<input type="radio" value="stop" name="job" class="i-checks">停用
			<input type="radio" value="close" name="job" class="i-checks">删除
		</div>
		<div class="text-center m-t-sm">
			<button type="button" onclick="CheckAll(document.FORM,'')" class="btn btn-primary">全 选</button>
			<button type="submit" class="btn btn-primary">提 交</button>
		</div>
</form>

</div>
<script type="text/javascript" language="JavaScript">
function delnav(){
	return confirm("确实要删除商品类别吗？");
}
function surepay(order_id,page,view){
	if(confirm('确认付款到用户？')){
		$.ajax({
			type:'post',
			url:'index.php?a=surepay&c=order',
			data:{order_id:order_id,page:page,view:view},
			dataType:'json',
			success:function(o){

			}
		});

	}
}
</script>
</body>
</html>
