<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
<link href="css/plugins/iCheck/custom.css" rel="stylesheet">
<script src="js/jquery.js"></script> 
<script src="js/main.js?v=1.0"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script>
$(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"})});
</script>
</head>
<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
<div class="col-sm-12">
<h3>会员管理</h3><ol class="breadcrumb"><li>当前位置</li><li>会员管理</li><li> <strong>导入会员</strong></li></ol>
</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
<p>
<a href="index.php?a=more&c=user" class="btn btn-primary">返回上一步</a>
</p>

<div class="float-e-margins">
<div class="ibox-title"><b>导入会员卡</b></div>
</div>

<form method="post" action="" onsubmit="return checkpost(document.checkform);" name="checkform" enctype="multipart/form-data">
<div class="ibox-content">
<table class="table table-hover m-b-none">
<tbody>
<tr>
	<td width="120">导入文件</td>
	<td width="300"><div class="btn btn-danger btn-file">
		<i class="glyphicon">点击上传</i>
		<input type="file" name="exceladdr" accept="*" class="file">
		<input type="hidden" name="submited" value="1"/>
	</div></td>
	<td></td>
</tr>

</tbody>
</table>
</div>
<div class="text-center m-t-sm"><button type="submit" class="btn btn-primary">提 交</button></div>
</form>
</div>
</body>
</html>